{% extends 'main/admin_base.html' %}
{% load staticfiles %}

{% block headcontent %}

{% endblock %}

{% block headbar %}
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
                <li><a href="/{{ category }}/{{ level }}/{{ exam }}/{{ module }}/{{ sub_module }}/Audio/" class="{{ a }}">Audio</a></li>
                <li><a href="/{{ category }}/{{ level }}/{{ exam }}/{{ module }}/{{ sub_module }}/Video/" class="{{ b }}">Video</a></li>
                <li><a href="">Lecture</a></li>
{#                <li style="float: right"><a href="">Sign Out</a></li>#}
              </ul>
                <button class="btn btn-primary" style="float: right">Sign out</button>
            </nav>
          </div>
        </div>
      {% endblock %}

{% block nav %}
        <nav class="templatemo-left-nav">
          <ul>
            <li><a href="/view/" class="active"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
            <li><a href="/manages/" ><i class="fa fa-adjust fa-fw"></i>Manage Levels</a></li>
{#            <li><a href="data-visualization.html"><i class="fa fa-database fa-fw"></i>Data Visualization</a></li>#}
{#            <li><a href="maps.html"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>#}
{#            <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>#}
{#            <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>#}
{#            <li><a href="login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>#}
          </ul>
        </nav>
          {% endblock %}

{% block content %}
    <div class="templatemo-content-widget no-padding">
            <div class="panel panel-default table-responsive">
              <table class="table table-striped table-bordered templatemo-user-table">
                <thead>
                  <tr>
                    <td><a href="" class="white-text templatemo-sort-by">Sl No. <span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Name<span class="caret"></span></a></td>
                    <td><a href="" class="white-text templatemo-sort-by">Link<span class="caret"></span></a></td>
{#                    <td><a href="" class="white-text templatemo-sort-by">User Name <span class="caret"></span></a></td>#}
{#                    <td><a href="" class="white-text templatemo-sort-by">Email <span class="caret"></span></a></td>#}
                    <td>Edit</td>
{#                    <td>Action</td>#}
                    <td>Delete</td>
                  </tr>
                </thead>
                <tbody>
                {% for i in db %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.link }}</td>
{#                    <td>@jS</td>#}
{#                    <td>js@company.com</td>#}
                    <td><a href="" class="templatemo-edit-btn">Edit</a></td>
{#                    <td><a href="" class="templatemo-link">Action</a></td>#}
                    <td><a href="" class="templatemo-edit-btn">Delete</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
    </div>

{% endblock %}

{% block scriptcontent %}

{% endblock %}