{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>School Admin</title>
<style>


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


</style>
  <!-- plugins:css -->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
<link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{% static "vendors/iconfonts/mdi/font/css/materialdesignicons.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css"%}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.addons.css"%}">
{#<link rel="stylesheet" href="{% static "highway/bt.css" %}">#}

{#    <link rel="stylesheet" href="{% static 'highway/css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'highway/css/bootstrap-theme.min.css' %}">#}
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "css/vertical-layout-light/style.css"%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}">

    {% block headcontent %}
    {% endblock headcontent %}
</head>
<body>
{% block base %}
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="index.html"><img src="{% static "images/school.jpg"%}" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static "images/logo-mini.svg" %}" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
{#          <span class="mdi mdi-menu"></span>#}
      </button>
{#      <ul class="navbar-nav mr-auto">#}
{#        <li class="nav-item nav-search d-none d-md-flex" id="navbarSearch">#}
{#          <a class="nav-link d-flex justify-content-center align-items-center" id="navbarSearchButton" href="#">#}
{#            <i class="mdi mdi-magnify mx-0"></i>#}
{#          </a>#}
{#          <input type="text" class="form-control" placeholder="Search..." id="navbarSearchInput">#}
{#        </li>#}
{#      </ul>#}
{#      <ul class="navbar-nav navbar-nav-right">#}
{#        <li class="nav-item dropdown mr-1">#}
{#          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">#}
{#            <i class="mdi mdi-email mx-0"></i>#}
{#          </a>#}
{#          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">#}
{#            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                  <img src="{% static "images/faces/face4.jpg" %}" alt="image" class="profile-pic">#}
{#              </div>#}
{#              <div class="preview-item-content flex-grow">#}
{#                <h6 class="preview-subject ellipsis font-weight-normal">David Grey#}
{#                </h6>#}
{#                <p class="font-weight-light small-text text-muted mb-0">#}
{#                  The meeting is cancelled#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                  <img src="{% static "images/faces/face2.jpg "%}" alt="image" class="profile-pic">#}
{#              </div>#}
{#              <div class="preview-item-content flex-grow">#}
{#                <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook#}
{#                </h6>#}
{#                <p class="font-weight-light small-text text-muted mb-0">#}
{#                  New product launch#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                  <img src="{% static "images/faces/face3.jpg" %}" alt="image" class="profile-pic">#}
{#              </div>#}
{#              <div class="preview-item-content flex-grow">#}
{#                <h6 class="preview-subject ellipsis font-weight-normal"> Johnson#}
{#                </h6>#}
{#                <p class="font-weight-light small-text text-muted mb-0">#}
{#                  Upcoming board meeting#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item dropdown mr-4">#}
{#          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">#}
{#            <i class="mdi mdi-bell mx-0"></i>#}
{#          </a>#}
{#          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">#}
{#            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                <div class="preview-icon bg-success">#}
{#                  <i class="mdi mdi-information mx-0"></i>#}
{#                </div>#}
{#              </div>#}
{#              <div class="preview-item-content">#}
{#                <h6 class="preview-subject font-weight-normal">Application Error</h6>#}
{#                <p class="font-weight-light small-text mb-0 text-muted">#}
{#                  Just now#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                <div class="preview-icon bg-warning">#}
{#                  <i class="mdi mdi-settings mx-0"></i>#}
{#                </div>#}
{#              </div>#}
{#              <div class="preview-item-content">#}
{#                <h6 class="preview-subject font-weight-normal">Settings</h6>#}
{#                <p class="font-weight-light small-text mb-0 text-muted">#}
{#                  Private message#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#            <a class="dropdown-item preview-item">#}
{#              <div class="preview-thumbnail">#}
{#                <div class="preview-icon bg-info">#}
{#                  <i class="mdi mdi-account-box mx-0"></i>#}
{#                </div>#}
{#              </div>#}
{#              <div class="preview-item-content">#}
{#                <h6 class="preview-subject font-weight-normal">New user registration</h6>#}
{#                <p class="font-weight-light small-text mb-0 text-muted">#}
{#                  2 days ago#}
{#                </p>#}
{#              </div>#}
{#            </a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item nav-profile dropdown mr-0 mr-sm-2">#}
{#          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">#}
{#            <img src="{% static "images/faces/face28.jpg" %}" alt="profile"/>#}
{#            <span class="nav-profile-name">Don Richards</span>#}
{#          </a>#}
{#          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">#}
{#            <a class="dropdown-item">#}
{#              <i class="mdi mdi-settings text-primary"></i>#}
{#              Settings#}
{#            </a>#}
{#            <a class="dropdown-item">#}
{#              <i class="mdi mdi-logout text-primary"></i>#}
{#              Logout#}
{#            </a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item nav-settings d-none d-lg-flex">#}
{#          <a class="nav-link" href="#">#}
{#            <i class="mdi mdi-dots-vertical"></i>#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{##}
{#      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">#}
{#        <span class="mdi mdi-menu"></span>#}
{#      </button>#}
{#    </div>#}
  </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><a href="/addstudent/"><b>+</b></a> </div>


      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
{#          <li class="nav-item">#}
{#            <select name="bexam">#}
{#                <option value="">one</option>#}
{#                <option value="">two</option>#}
{#                <option value="">three</option>#}
{#                <option value="">four</option>#}
{#            </select>#}
{#          </li>#}

            <li class="nav-item">
            <a class="nav-link" href="/addcategory/">
{#              <i class="mdi mdi-home menu-icon"></i>#}
              <span class="menu-title">Add Category</span>
            </a>
          </li>
{#            <li class="nav-item">#}
{#            <select name="bexam">#}
{#                <option value="">one</option>#}
{#                <option value="">two</option>#}
{#                <option value="">three</option>#}
{#                <option value="">four</option>#}
{#            </select>#}
{#          </li>#}
{#            <li class="nav-item">#}
{#            <select name="bexam">#}
{#                <option value="">one</option>#}
{#                <option value="">two</option>#}
{#                <option value="">three</option>#}
{#                <option value="">four</option>#}
{#            </select>#}
{#          </li>#}
{#            <li class="nav-item">#}
{#            <select name="bexam">#}
{#                <option value="">one</option>#}
{#                <option value="">two</option>#}
{#                <option value="">three</option>#}
{#                <option value="">four</option>#}
{#            </select>#}
{#          </li>#}
{#            <li class="nav-item">#}
{#            <select name="bexam">#}
{#                <option value="">one</option>#}
{#                <option value="">two</option>#}
{#                <option value="">three</option>#}
{#                <option value="">four</option>#}
{#            </select>#}
{#          </li>#}
          <li class="nav-item">
            <a class="nav-link" href="/manage/">
{#              <i class="mdi mdi-puzzle menu-icon"></i>#}
              <span class="menu-title">View or Edit</span>
            </a>
          </li>
{#            <li class="nav-item">#}
{#            <a class="nav-link" href="/studentmarks/">#}
{#              <i class="mdi mdi-palette menu-icon"></i>#}
{#              <span class="menu-title">Student Marks</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="/addcertificate/">#}
{#                <i class="mdi mdi-palette menu-icon"></i>#}
{#              <span class="menu-title">ADD Certificate</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="/modaledit/">#}
{#                <i class="mdi mdi-palette menu-icon"></i>#}
{#              <span class="menu-title">modal edit</span>#}
{#            </a>#}
{#          </li><li class="nav-item">#}
{#            <a class="nav-link" href="/livesearch/">#}
{#                <i class="mdi mdi-palette menu-icon"></i>#}
{#              <span class="menu-title">live search</span>#}
{#            </a>#}
{#          </li>#}

{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">#}
{#              <i class="mdi mdi-palette menu-icon"></i>#}
{#              <span class="menu-title">UI Elements</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="ui-basic">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/accordions.html" %}">Accordions</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/buttons.html" %}">Buttons</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/badges.html" %}">Badges</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/breadcrumbs.html" %}">Breadcrumbs</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/dropdowns.html" %}">Dropdowns</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/modals.html" %}">Modals</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/progress.html" %}">Progress bar</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/pagination.html" %}">Pagination</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/tabs.html" %}">Tabs</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/typography.html" %}">Typography</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/tooltips.html" %}">Tooltips</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">#}
{#              <i class="mdi mdi-layers menu-icon"></i>#}
{#              <span class="menu-title">Advanced UI</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="ui-advanced">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/dragula.html" %}">Dragula</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/clipboard.html" %}">Clipboard</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/context-menu.html" %}">Context menu</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/slider.html" %}">Sliders</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/carousel.html" %}">Carousel</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/colcade.html" %}">Colcade</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/loaders.html" %}">Loaders</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">#}
{#              <i class="mdi mdi-view-headline menu-icon"></i>#}
{#              <span class="menu-title">Form elements</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="form-elements">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/basic_elements.html" %}">Basic Elements</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/advanced_elements.html" %}">Advanced Elements</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/validation.html" %}">Validation</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/wizard.html" %}">Wizard</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">#}
{#              <i class="mdi mdi-pencil-box-outline menu-icon"></i>#}
{#              <span class="menu-title">Editors</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="editors">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/text_editor.html" %}">Text editors</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{% static "demo/vertical-default-light/pages/forms/code_editor.html" %}">Code editors</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">#}
{#              <i class="mdi mdi-chart-pie menu-icon"></i>#}
{#              <span class="menu-title">Charts</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="charts">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/chartjs.html" %}">ChartJs</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/morris.html" %}">Morris</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/flot-chart.html" %}">Flot</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/google-charts.html" %}">Google charts</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/sparkline.html" %}">Sparkline js</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/c3.html" %}">C3 charts</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/chartist.html" %}">Chartists</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/charts/justGage.html" %}">JustGage</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">#}
{#              <i class="mdi mdi-grid-large menu-icon"></i>#}
{#              <span class="menu-title">Tables</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="tables">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/tables/basic-table.html" %}">Basic table</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/tables/data-table.html" %}">Data table</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/tables/js-grid.html" %}">Js-grid</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/tables/sortable-table.html" %}">Sortable table</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/popups.html" %}">#}
{#              <i class="mdi mdi-comment-alert menu-icon"></i>#}
{#              <span class="menu-title">Popups</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/ui-features/notifications.html" %}">#}
{#              <i class="mdi mdi-bell menu-icon"></i>#}
{#              <span class="menu-title">Notifications</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">#}
{#              <i class="mdi mdi-emoticon menu-icon"></i>#}
{#              <span class="menu-title">Icons</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="icons">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/icons/flag-icons.html" %}">Flag icons</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/icons/mdi.html" %}">Mdi icons</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/icons/font-awesome.html" %}">Font Awesome</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/icons/simple-line-icon.html" %}">Simple line icons</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/icons/themify.html" %}">Themify icons</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#maps" aria-expanded="false" aria-controls="maps">#}
{#              <i class="mdi mdi-map menu-icon"></i>#}
{#              <span class="menu-title">Maps</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="maps">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/maps/mapael.html" %}">Mapael</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/maps/vector-map.html" %}">Vector Map</a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/maps/google-maps.html" %}">Google Map</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">#}
{#              <i class="mdi mdi-account menu-icon"></i>#}
{#              <span class="menu-title">User Pages</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="auth">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/login.html" %}"> Login </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/login-2.html" %}"> Login 2 </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/register.html" %}"> Register </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/register-2.html" %}"> Register 2 </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/lock-screen.html" %}"> Lockscreen </a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">#}
{#              <i class="mdi mdi-alert-circle menu-icon"></i>#}
{#              <span class="menu-title">Error pages</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="error">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/error-404.html" %}"> 404 </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/error-500.html" %}"> 500 </a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">#}
{#              <i class="mdi mdi-file menu-icon"></i>#}
{#              <span class="menu-title">General Pages</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="general-pages">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/blank-page.html" %}"> Blank Page </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/profile.html" %}"> Profile </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/faq.html" %}"> FAQ </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/faq-2.html" %}"> FAQ 2 </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/news-grid.html" %}"> News grid </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/timeline.html" %}"> Timeline </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/search-results.html" %}"> Search Results </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/portfolio.html" %}"> Portfolio </a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#e-commerce" aria-expanded="false" aria-controls="e-commerce">#}
{#              <i class="mdi mdi-basket menu-icon"></i>#}
{#              <span class="menu-title">E-commerce</span>#}
{#              <i class="menu-arrow"></i>#}
{#            </a>#}
{#            <div class="collapse" id="e-commerce">#}
{#              <ul class="nav flex-column sub-menu">#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/invoice.html" %}"> Invoice </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/pricing-table.html" %}"> Pricing Table </a></li>#}
{#                <li class="nav-item"> <a class="nav-link" href="{% static "demo/vertical-default-light/pages/samples/orders.html" %}"> Orders </a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/apps/email.html" %}">#}
{#              <i class="mdi mdi-email menu-icon"></i>#}
{#              <span class="menu-title">E-mail</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/apps/calendar.html" %}">#}
{#              <i class="mdi mdi-calendar-range menu-icon"></i>#}
{#              <span class="menu-title">Calendar</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/apps/todo.html" %}">#}
{#              <i class="mdi mdi-playlist-check menu-icon"></i>#}
{#              <span class="menu-title">Todo List</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/apps/gallery.html" %}">#}
{#              <i class="mdi mdi-image menu-icon"></i>#}
{#              <span class="menu-title">Gallery</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="{% static "demo/vertical-default-light/pages/documentation/documentation.html" %}">#}
{#              <i class="mdi mdi-file-document-box-outline menu-icon"></i>#}
{#              <span class="menu-title">Documentation</span>#}
{#            </a>#}
{#          </li>#}
        </ul>
      </nav>
      <!-- partial -->

{% endblock %}
{% block content %}


{% endblock content %}
{#    </div>#}
{#    <!-- page-body-wrapper ends -->#}
{#  </div>#}
{#  <script src="{%static "vendors/js/vendor.bundle.base.js" %}"></script>#}
{#  <script src="{%static "vendors/js/vendor.bundle.addons.js" %}"></script>#}
{#  <!-- endinject -->#}
{#  <!-- Plugin js for this page-->#}
{#  <!-- End plugin js for this page-->#}
{#  <!-- inject:js -->#}
{#  <script src="{%static "js/off-canvas.js" %}"></script>#}
{#  <script src="{%static "js/hoverable-collapse.js" %}"></script>#}
{#  <script src="{%static "js/template.js" %}"></script>#}
{#  <script src="{%static "js/settings.js" %}"></script>#}
{#  <script src="{%static "js/todolist.js" %}"></script>#}
{#  <!-- endinject -->#}
{#  <!-- Custom js for this page-->#}
{#  <script src="{%static "js/dashboard.js" %}"></script>#}
{##}
{#  <script src="{%static "js/data-table.js" %}"></script>#}

{% block scriptcontent %}


{% endblock scriptcontent %}
{##}
{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
</body>
</html>